{% load static%}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0 shrink-to-fit=yes "> 
        <meta author="Baraka Maurice">

        <title>Baraka Motors</title>
        <link rel="icon" type="image/x-icon" href= " {% static "assets/favicon.png" %}">
        <link rel="stylesheet" href="{% static "css/home.css" %}">
    </head>
    <body>
        HOMEPAGE
    </body>
</html>